{% extends "personal/user_personal.html" %}
{% load static %}
{% block title %}Добавление поставки{% endblock title %}
{% block content %}
    <section id="products">
        <form method="post">
            {% csrf_token %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <h2>Основная информация о поставке</h2>
            {{ supply_form.as_p }}  <!-- отображаем основную форму -->
           <h2>Сырье поставки</h2>
           {{ formset.management_form }}
            {% for form in formset %}
                {{ form.as_p }}    <!-- отображаем каждую форму из формосета -->
            {% endfor %}
            <input type="submit" value="Подтвердить">
        </form>
        <hr/>
    </section>
{% endblock content %}