{% extends "personal/user_personal.html" %}
{% load static %}
{% block title %}Изменить поставку{% endblock title %}
{% block content %}
    <section id="products">
        <h2>Изменить поставку</h2>
        <form method="post">
            {% csrf_token %}
             {{ supply_form.as_p }}
             {{ formset.management_form }}
             {% for form in formset %}
                {{ form.as_p }}
             {% endfor %}
            <button type="submit">Сохранить</button>
        </form>
    </section>
{% endblock content %}