{% extends "personal/user_personal.html" %}
{% load static %}
{% block title %} {{ data.name }}{% endblock title %}
{% block content %}
    <section id="products">
        <h3>ID: {{ data.id }}</h3><br>
        <img src="{{ data.get_photo_url }}" alt="{{ data.name }}" style="max-width: 100px; max-height: 100px;" />
        <br>
        <h3>Name: {{ data.name }}</h3><br>
        <h3>Price: {{ data.price }}</h3><br>
        <h3>Description: {{ data.description }}</h3><br>
        <h3>Area: {{ data.area }}</h3><br>
        <p><a href="{% url 'workshop_delete' data.id %}">Удалить мастерскую</a></p>
        <hr/>
        <p><a href="{% url 'workshops_list' %}">Назад к списку мастерских</a></p>
    </section>
{% endblock content %}