{% extends "personal/user_personal.html" %}
{% load static %}
{% block title %}Мастерские{% endblock title %}
{% block content %}
    <section id="products">
        <h2>Список мастерских</h2>
        <table style="width: 100%; border-collapse: collapse; border: 1px solid black;">
            <thead>
                <tr>
                    <th style="border: 1px solid rgb(78, 0, 173); padding: 8px;">№</th>
                    <th style="border: 1px solid rgb(78, 0, 173); padding: 8px;">ID</th>
                    <th style="border: 1px solid rgb(78, 0, 173); padding: 8px;">Фото</th>
                    <th style="border: 1px solid rgb(78, 0, 173); padding: 8px;">Название</th>
                    <th style="border: 1px solid rgb(78, 0, 173); padding: 8px;">Цена</th>
                    <th style="border: 1px solid rgb(78, 0, 173); padding: 8px;">Площадь</th>
                    <th style="border: 1px solid rgb(78, 0, 173); padding: 8px;">Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for data in dataset %}
                <tr>
                    <td style="border: 1px solid rgb(78, 0, 173); padding: 8px;">{{ forloop.counter }}</td>
                    <td style="border: 1px solid rgb(78, 0, 173); padding: 8px;">{{ data.id }}</td>
                    <td style="border: 1px solid rgb(78, 0, 173); padding: 8px;">
                        <img src="{{ data.get_photo_url }}" alt="{{  data.get_photo_url }}" style="max-width: 100px; max-height: 100px;" />
                    </td>
                    <td style="border: 1px solid rgb(78, 0, 173); padding: 8px;"><a href="{% url 'workshop_detail_admin' data.id %}">{{ data.name }}</a></td>
                    <td style="border: 1px solid rgb(78, 0, 173); padding: 8px;">{{ data.price }}</td>
                    <td style="border: 1px solid rgb(78, 0, 173); padding: 8px;">{{ data.area }}</td>
                    <td style="border: 1px solid rgb(78, 0, 173); padding: 8px;">
                        <a href="{% url 'workshop_update' data.id %}">Изменить</a> | 
                        <a href="{% url 'workshop_delete' data.id %}">Удалить</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p><a href="{% url 'workshop_create' %}">Добавить мастерскую</a></p><br>
    </section>
{% endblock content %}
