{% extends "index.html" %}
{% load static %}
{% block title %}О нас{% endblock title %}
{% block content %}
    <section id="about">
        <h2>О нас</h2>
        <p>Студия "Фарфоровые друзья" создает уникальные изделия из фарфора и керамики, сочетая в себе традиции и современные технологии. Наша команда стремится к высокому качеству продукции и вдохновляет людей на покупку искусства для своего дома.</p>
        <p>Мы верим, что керамика и фарфор могут создавать атмосферу уюта и гармонии в любом интерьере, и гордимся тем, что помогаем нашим клиентам сделать свои дома еще красивее.</p>
        <p>Присоединяйтесь к нам и выбирайте красоту и уют с "Фарфоровыми друзьями"!</p>
        <img src="{% static "images/farfor_logo_2d.png" %}" alt="logo" >
    </section>
{% endblock content %}