{% extends "index.html" %}
{% load static %}
{% block title %}Вход в аккаунт{% endblock title %}
{% block content %}
    <section id = 'auth'>
        <h1>Вход</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Войти</button>
        </form>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <h2>Нет аккаунта?</h2>
        <a href="{% url 'client_registration' %}">Зарегистрироваться</a>
    </section>
{% endblock content %}
