{% extends "index.html" %}
{% load static %}
{% block title %}Контакты{% endblock title %}
{% block content %}
<div class="about">
    <section id="about-text">
        <hr>
        <p>Телефон: +7 (929) 514 02-72</p>
        <p>Электронная почта: farfor@mail.ru</p>
        <p>Мы работаем каждый день с 10:00 до 20:00!</p>
        <p>Ждем вас в гости в нашей уютной студии!</p>
        <hr>
        <p>Мы на карте:</p>
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae1ce2eeddb5c07a9e59c63da14247d83af0543a38715b5a8f7ee6d7e92ffa1ba&amp;width=393&amp;height=259&amp;lang=ru_RU&amp;scroll=true"></script>
    </section>
</div>
{% endblock content %}