{% extends "personal/user_personal.html" %}
{% block content %}
<section id="products">
    <h2>Удаление мастера</h2>
    <form method="post">
        {% csrf_token %}
        <p>Подтвердите удаление мастера {{ master.user.first_name }} {{ master.user.last_name }}</p>
        <input type = "submit" value="Да">
        <input type="button" value="Нет" onclick="redirectToMasters()">
            <script>
                function redirectToMasters() {
                    window.location.href = "{% url 'masters_list' %}";
                }
            </script>
    </form>
    <hr/>
    <a href="{% url 'masters_list' %}">Вернуться к списку мастеров</a>
</section>
{% endblock %}