{% extends "personal/user_personal.html" %}
{% load static %}
{% block title %} {{ master.name }}{% endblock title %}
{% block content %}
    <section id="products">
        <h3>ID: {{ master.user_id }}</h3><br>
        <img src="{{ master.get_photo_url }}" alt="{{ master.get_photo_url }}" style="max-width: 100px; max-height: 100px;" />
        <br>
        <h3>Имя: {{ master.user.first_name }} {{ master.user.last_name }}</h3><br>
        <a href="{% url 'master_delete' master.id %}">Удалить мастера</a>
        <hr/>
        <a href="{% url 'masters_list' %}">Вернуться к списку мастеров</a>
    </section>
{% endblock content %}